<!DOCTYPE html>
<html>
  <title>9 9 C A T S</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
  body,h1 {font-family: "Raleway", sans-serif}
  h1 { color: black; }
  h2 { color: white; }
  body, html {height: 100%}
  .bgimg {
      background-image: url("http://www.petyak.com/wp-content/uploads/2015/06/bigstock-Green-Cheek-Conure-82320875-810x491.jpg");
      min-height: 100%;
      background-position: center;
      background-size: cover;
  }

  </style>

  <body>

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge">
        <% if current_user %>
          <h2> <%= "Well hello there, #{current_user.username}!"%> </h2>
        <% end %>

        <% if current_user %>
          <%= button_to "Log Out!", session_url, method: :delete %>
        <% else %>
          <%= link_to "Log In!", new_session_url%>
          <%= link_to "Sign Up!", new_user_url %>
        <% end %>
      </div>
      <div class="w3-display-middle">
        <h1 class="w3-jumbo w3-animate-top">9 9 C A T S</h1>
        <hr class="w3-border-grey" style="margin:auto;width:40%">
        <p class="w3-large w3-center"><%= yield %></p>
      </div>
      <div class="w3-display-bottomleft w3-padding-large">
        <a href="https://www.w3schools.com/w3css/default.asp" target="_blank"></a>
      </div>
    </div>

  </body>
</html>
